@model IEnumerable<Estacionamento.Models.Veiculo>

@{
    ViewData["Title"] = "Lista de veículos estacionados";
}

<h2>Sistema de Estacionamento</h2>

<p>
    <a asp-action="Criar">Cadastrar veículo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoHora)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Modelo)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Placa)
                </td>
                <td>
                    @Html.DisplayFor(model => item.PrecoInicial)
                </td>
                <td>
                    @Html.DisplayFor(model => item.PrecoHora)
                </td>
                <td>

                    

                        <form asp-action="Deletar" asp-route-id="@item.Id" method="get" >
                         <input type="hidden" id="horasEstacionado" name="horasEstacionado" />
                         <a asp-action="Editar" asp-route-id="@item.Id">Editar</a> | <a asp-action="Detalhes" asp-route-id="@item.Id">Detalhes</a> |<button type="submit" value="Deletar" onclick="return confirmarRemocao()" class="btn btn-link">Deletar</button>

                        </form>

                </td>
            </tr>
        }

        

    </tbody>
</table>


<script>
    function confirmarRemocao() {
        var horasEstacionado = prompt("Por quantas horas o veículo ficou estacionado?");
        if (horasEstacionado === null || horasEstacionado === "") {
            return false; 
        }

        document.getElementById("horasEstacionado").value = horasEstacionado;



        
        return confirm("Deseja realmente remover o veículo?");
    }
</script>







