@model IEnumerable<Estacionamento.Models.Veiculo>

@{
    ViewData["Title"] = "Lista de veículos estacionados";
}

<h2 style="color:orangered">Sistema de Estacionamento</h2>

<p>
    <a asp-action="Criar">Cadastrar veículo</a>
</p>

<table class="table">
    <thead>
        <tr style="color:orangered">
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.PrecoInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoHora)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Modelo)
                </td>
@*                <td>
                    @Html.DisplayFor(model => item.Placa)
                </td>*@
                <td>
                    @Html.DisplayFor(model => item.PrecoInicial)
                </td>
                <td>
                    @Html.DisplayFor(model => item.PrecoHora)
                </td>
                <td>

                    <form asp-action="Deletar" asp-route-id="@item.Id" method="get">
                       <label for="horasEstacionado">Horas Estacionado:</label>
                        <input type="text" id="horasEstacionado" name="horasEstacionado" style="width: 100px;" />
                        <a asp-action="Editar" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Detalhes" asp-route-id="@item.Id">Detalhes</a> |
                        <button type="submit" onclick="return confirmarRemocao('@item.Id')" class="btn btn-link">Deletar</button>
                    </form>
                </td>
            </tr>
        }

        

    </tbody>
</table>


<script>
    function confirmarRemocao(id) {
        if (confirm("Deseja realmente remover o veículo?")) {
            var url = "@Url.Action("Deletar", "Veiculo")/" + id;
            console.log(url);
            window.location.replace(url);
        } else {
            return false;
        }
    }
</script>







